body {
  background-color: #F8F7F4;
}

.navbar {
  display: flex;
  padding: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.left-navbar-menus {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  gap: 32px;
  flex-direction: row;
  flex-wrap: nowrap;
}


